<div class="topnav">
  <img
    alt="logo"
    class="logo col-2"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmkF929L_QFvEMzgZGJxxbOriAQ-KYZQ1xHw&usqp=CAU"
    width="50"
    height="120"
  />
  <a class="active" routerLink="/home">Inicio</a>
  <a routerLink="/top-peliculas">Top Peliculas</a>
  <a routerLink="/peliculas">Populares</a>
  <a routerLink="/watchlist">Watchlist</a>
  <a routerLink="/favoritos">Favoritos</a>
  <a routerLink="/registro">Regístrese aquí</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/buscador" class="btn btn-outline-success">BUSCADOR</a>
  <form class="d-flex" (submit)="buscar()">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="busqueda" name="searchTerm">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>


</div>

