<div class="topnav">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4CAF50;">
  <div class="container-fluid">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmkF929L_QFvEMzgZGJxxbOriAQ-KYZQ1xHw&usqp=CAU"
    alt="Logo" width="110" height="100" style="margin-right: 10px;"
  />
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="active" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="/top-peliculas">Top Peliculas</a>
      </li>
    <li class="nav-item">
        <a routerLink="/peliculas">Populares</a>
      </li>
      <li class="nav-item">
        <a routerLink="/watchlist">Watchlist</a>
      </li>
      <li class="nav-item">
        <a routerLink="/favoritos">Favoritos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/registro">Regístrese aquí</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login">Login</a>
      </li>
     </ul>  
    </div>    
  <form class="d-flex" (submit)="buscar()">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="busqueda" name="searchTerm">
    <button class="btn btn-success" type="submit">Buscar</button>
  </form>
</div>
</nav>
</div>

