
.container .card {
    border: 1px solid #28a745;
    border-radius: 10px;
  }
  
  .container .card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .container .card-text {
    color: #000000;
    font-weight: normal;
  }
  