<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="row g-0">
          
          <div class="col-md-8">
            
            <div class="card-body">
              <h1 class="card-title text-center"><strong>{{ movie.title }}</strong></h1>
              <p class="card-text text-center">{{ movie.overview }}</p>
              <p class="card-text text-left"><strong>Puntuación media:</strong> {{ (movie.vote_average).toFixed(2)}}</p>
              <p class="card-text"><strong>Fecha de lanzamiento:</strong> {{ movie.release_date }}</p>
              <p class="card-text"><strong>Lenguaje original:</strong> {{ movie.original_language }}</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary bg-success">Ir al home</a>
              </div>
            </div>

          </div>
<div class="col-md-4">
            <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="película" class="img-fluid">
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
