<div class="container">
  <h4 class="my-4 fw-bold">Detalles de la Película:</h4>
  <div *ngIf="pelicula" class="card bg-success text-white mb-3">
    <div class="card-header">{{ pelicula.title }}</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + pelicula.poster_path" class="img-fluid rounded" alt="Cartel de la película">
        </div>
        <div class="col-md-8">
          <p class="card-text"><span class="fw-bold text-white">Descripción:</span> {{ pelicula.overview }}</p>
          <p class="card-text"><span class="fw-bold text-white">Calificación:</span> {{ pelicula.vote_average }}</p>
          <p class="card-text"><span class="fw-bold text-white">Géneros:</span> {{ getGenresString(pelicula.genres) }}</p>
          <p class="card-text"><span class="fw-bold text-white">Duración:</span> {{ pelicula.runtime }} minutos</p>
          <p class="card-text"><span class="fw-bold text-white">Reparto:</span> {{ pelicula.cast.join(', ') }}</p>
          <p class="card-text"><span class="fw-bold text-white">Fecha de lanzamiento:</span> {{ pelicula.release_date }}</p>
          <button (click)="openModal()" class="btn btn-primary">Ver Tráiler</button>
          <div>
            <button (click)="agregarAWatchlist()" class="btn btn-info">Agregar a Watchlist</button>
            <span class="badge rounded-pill bg-warning text-dark">{{ mensaje }}</span>
          </div>
          <div>
            <button (click)="agregarAFavoritos()" class="btn btn-danger">Agregar a Favoritos</button>
            <span class="badge rounded-pill bg-warning text-dark">{{ mensajefav }}</span>
          </div>
          

        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!pelicula">
    <p class="text-center">Cargando...</p>
  </div>
  <div *ngIf="comentarios.length > 0" class="mt-4">
    <h5>Comentarios y Reseñas:</h5>
    <ul>
      <li *ngFor="let comentario of comentarios">{{ comentario }}</li>
    </ul>
  </div>
</div>
<div [ngStyle]="{'display': showModal ? 'block' : 'none'}" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">×</span>
    <iframe [src]="trailerUrl" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
