.container-carrusel {
    width: 700px; // Ancho deseado del contenedor
    height: 200px; // Altura deseada del contenedor
    display: flex;
    justify-content: center; // Centrar horizontalmente en el contenedor
    align-items: center; // Centrar verticalmente en el contenedor
    margin: 0 auto; // Centrar el contenedor horizontalmente en la página
  }
  
  #carouselExample {
    max-width: 100%; // Ajustar el carrusel al ancho máximo del contenedor
    max-height: 100%; // Ajustar el carrusel a la altura máxima del contenedor
  }

.saludo{
    text-align: center;
    color: rgb(1, 170, 100);
}