<div class="container">
  <h2>Registro usuario</h2>
    <form [formGroup]="myForm" (ngSubmit)="saveData()">
      <div class="mb-3">
        <label class="form-label">Nombre de usuario</label>
        <input formControlName="username" class="form-control" type="text"/>
        <p *ngIf="myForm.get('username')!.touched && myForm.get('username')!.hasError('required')" class="form-text">Este campo es obligatorio</p>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input formControlName="nombre" class="form-control" type="text"/>
        <p *ngIf="myForm.get('nombre')!.touched && myForm.get('nombre')!.hasError('required')" class="form-text">Este campo es obligatorio</p>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input formControlName="email" class="form-control" type="text"/>
        <p *ngIf="myForm.get('email')!.touched && myForm.get('email')!.hasError('required')" class="form-text">Este campo es obligatorio</p>
        <p *ngIf="myForm.get('email')!.touched && myForm.get('email')!.hasError('pattern')" class="form-text">Por favor, introduce un correo electrónico válido</p>
      </div>
      
  
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input formControlName="password1" class="form-control" type="password"/>
        <p *ngIf="myForm.get('password1')!.touched && myForm.get('password1')!.hasError('required')" class="form-text">Este campo es obligatorio</p>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Repita su contraseña</label>
        <input formControlName="password2" class="form-control" type="password"/>
        <p *ngIf="myForm.get('password2')!.touched && myForm.get('password2')!.hasError('required')" class="form-text">Este campo es obligatorio</p>
        <p *ngIf="myForm.hasError('mismatch')" class="form-text">Las contraseñas no coinciden</p>
      </div>

      <div class="mb-3">
        <label class="form-label">Fecha de Nacimiento</label>
        <input formControlName="fecha_nacimiento" class="form-control" type="date"/>
        <p *ngIf="myForm.get('fecha_nacimiento')!.touched && myForm.get('fecha_nacimiento')!.hasError('required')" class="form-text">Este campo es obligatorio</p>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Telefono</label>
        <input formControlName="telefono" class="form-control" type="text"/>
        <p *ngIf="myForm.get('telefono')!.touched && myForm.get('telefono')!.hasError('required')" class="form-text">Este campo es obligatorio</p>
        <p *ngIf="myForm.get('telefono')!.hasError('maxlength')" class="form-text">La longitud máxima de este campo es de 12</p>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Direccion</label>
        <input formControlName="direccion" class="form-control" type="text"/>
        <p *ngIf="myForm.get('direccion')!.touched && myForm.get('direccion')!.hasError('required')" class="form-text">Este campo es obligatorio</p>
        <p *ngIf="myForm.get('direccion')!.hasError('minlength')" class="form-text">La longitud mínima de este campo es de 12</p>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Enviar</button>
    </form>
  </div>
  